


/* =============================================================== */
/* =====================  RESPONSIVE 400PX  ====================== */

@media (max-width: 400px)  {

    .imagen1 { width: 100%; height: 100%; }
    #countdown { font-size: 16px;  }
    .titulo-seccion { font-size: 22px; }
    .mapa-fotos-grid { grid-template-columns: 1fr; }

    #musicPlayer { bottom: 5px; 
        width: 20px;left: 30px; }

    .contenedor-countdown {
        margin: auto;
        padding: 5px 5px;
        border-radius: 13px;
        width: 60%;
    }

    .TercerContenedor { 
        width: 70%; 
        height: auto; 
        margin: auto;  
    }
    .contenedor-mapa-fotos { 
        width: 80%; 
        height: auto; 
        padding: 10px; 
    }
    .titulo-seccion { 
        font-size: 32px; 
    }

    .mapa-fotos-grid { 
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .mapa iframe { height: 250px; }
    .mapa p { font-size: 32px; }
    .mapa h1 { font-size: 14px; }

    .direccion, .direccion2 { 
        width: 100%;
        height: auto;
        font-size: 18px;
        padding: 10px;
    }

    .iglesia { width: 100%; height: 260px; object-fit: cover; }

    .btn-elegante { font-size: 18px; padding: 12px 22px; }



    .cuartoContendor {
    width: 350px;
    height: 400px;

}


.informaciondress2 {
    width: 90%;
    font-size: 14px;
    color: #808080;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.sextoContendor {
    width: 350px;
    height:500px;
    margin: auto;
}

.itinerario-section { 
        width: 340px;
        background-size: cover; /* ← ajusta la imagen al contenedor */
        background-position: center;    
} 

    .icono-tiempo { width: 60px; }
    .contenido-tiempo h3 { font-size: 22px; }
    .contenido-tiempo p  { font-size: 18px; }
    /* Línea de tiempo */
.linea-tiempo {
    width: 70%;
    margin: auto;
}

    .linea-tiempo::before { left: 40%; }
    .item-tiempo::before { left: 48px; }

    .linea-tiempo::before {
        content: "";
        position: absolute;
        left: 100px;
        top: 0;
        width: 3px;
        height: 90%;
        border-radius: 2px;
    }

.sextoContendor {
    width: 300px;
    height: 500px;
    
}


.octavoContendor {
   margin-top: 10px;
    
}



.container{
    width: 300px;
    height: 500px;
}


.slide .item:nth-child(3){
    left: 80%;
}
.slide .item:nth-child(4){
    left: calc(70% + 20px);
}
.slide .item:nth-child(5){
    left: calc(100% + 20px);
}





/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 5){
    left: calc(60% + 20px);
    opacity: 20;
}



    .anuncio-card {
        padding: 25px 18px;
        border-radius: 20px;
        max-width: 200px;
    }

    .anuncio-titulo {
        font-size: 38px;
    }

    .anuncio-texto {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .anuncio-texto span {
        font-size: 20px;
    }

    .anuncio-btn {
        font-size: 15px;
        padding: 12px 22px;
    }

}
