

html{
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background-color: #80ABF0;
}


/* ================= ANUNCIO DE INICIO ================= */

.anuncio-inicio {
    position: fixed;
    inset: 0;
    background: rgba(174, 203, 233, 0.85);
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    animation: fadeInAnuncio 1s ease;
    
}

.anuncio-card {
    background: white;
    padding: 40px 30px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0,0,0,0.25);
    animation: zoomIn 1s ease;
    max-width: 320px;
    width: 90%;
}

.anuncio-titulo {
    font-family: 'Great Vibes', cursive;
    font-size: 55px;
    color: #5D9CCF;
    margin-bottom: 10px;
}

.anuncio-texto {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
    line-height: 1.4;
}

.anuncio-texto span {
    display: block;
    font-size: 26px;
    color: #87CEEB;
    font-weight: bold;
    margin-top: 5px;
}

.anuncio-btn {
    background: linear-gradient(135deg, #87CEEB, #5D9CCF);
    color: white;
    border: none;
    padding: 14px 30px;
    border-radius: 30px;
    font-size: 17px;
    cursor: pointer;
    transition: transform .3s ease, box-shadow .3s ease;
    box-shadow: 0 8px 18px rgba(0,0,0,0.25);
}

.anuncio-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.35);
}

/* ================= ANIMACIONES ================= */

@keyframes fadeInAnuncio {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes zoomIn {
    from { transform: scale(0.85); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

@keyframes brilloSuave {
    0% { text-shadow: 0 0 0 rgba(135,206,235,0); }
    50% { text-shadow: 0 0 15px rgba(135,206,235,0.8); }
    100% { text-shadow: 0 0 0 rgba(135,206,235,0); }
}

/* Ocultar anuncio */
.anuncio-inicio.oculto {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
}



/* ====================================================== */
/*                CONTENEDOR PRINCIPAL                    */
/* ====================================================== */
.ContenedorPrincipal {
    max-width:  600px;
    max-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 10;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    margin-bottom: 20px;
}

.imagengrade {
    width: 100%;
    object-fit: fill;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.imagen1 {
    margin: auto;
    max-width: 450px;
    max-height: 650px;
    z-index: 1;
}

/* Texto sobre imagen */
.Letrasenimagen {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    line-height: 1.1;
    z-index: 10;
}

.letras {
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    color: rgb(243, 250, 255);
    text-shadow: 2px 2px 5px rgba(0,0,0,0.9);
    font-weight: bold;
}



.rectangulo-gris{
    position: absolute;
    z-index: 10;
    top: 0px;
    right:0px;
}

.rectangulo-gris2{
    position: absolute;
    z-index: 10;
    bottom: 0px;
    left:0px;
}
.rectangulo-gris img {
max-width: 100px;
}
.rectangulo-gris2 img {
    max-width: 100px;
    transform: rotate(180deg);
}
/* ====================================================== */
/*               CUENTA REGRESIVA                         */
/* ====================================================== */
.contenedor-countdown {
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(6px);
    border: 3px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 20px rgba(23, 82, 130, 0.7);
    text-align: center;
    width: 60%;
    max-width: 420px;
}

.titulo-count {
    font-family: 'Alex Brush', cursive;
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 5px black;
    margin-bottom: 15px;
}

#countdown {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: 350;
    color: #fff;
    text-shadow: 2px 2px 5px black;
}


/* ====================================================== */
/*                CONTENEDOR 2 (Agradecimiento)           */
/* ====================================================== */
.SegundoContenedor {
    max-width: 600px;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    border-radius: 10px;
}


/* ====================================================== */
/*                CONTENEDOR 3 (Mapas)                    */
/* ====================================================== */
.TercerContenedor { 
    max-width: 600px; 
    height: 1950px;
    padding:10px;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    margin: auto; 
    text-align: center; 
} 

.contenedor-mapa-fotos { 
    max-width: 500px; 
    max-height: 950px; 
    margin: auto; 
    font-family: 'Playfair Display', serif; 
    color: white;

} 

.titulo-seccion { 
    font-family: 'Great Vibes', cursive; 
    font-size: 40px; 
    margin-bottom: 20px; 
    color: #fff; 
    text-shadow: 2px 2px 6px black; 
} 

.mapa-fotos-grid { 
    grid-template-columns: 1fr 180px; 
    gap: 5px; 
    justify-content: center; 
    align-items: center; 
    margin: auto; 
} 

.mapa iframe { 
    width: 100%; 
    height: 350px; 
    border-radius: 20px; 
} 

.mapa p { 
    font-family: 'Great Vibes', cursive; 
    font-size: 40px; 
    color: #808080; 
} 

.mapa h1 { 
    font-family: 'Playfair Display', serif; 
    font-size: 16px; 
    color: #000; 
} 

.direccion{
    max-width: 450px; 
    max-height: 876px;
    background: #fff; 
    border-radius: 15px;
    padding: 4px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    margin: 0 auto;
    font-size: 20px;
} 

.direccion2 { 
    max-width: 450px; 
    background: #fff; 
    border-radius: 15px;
    padding: 4px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    margin: 0 auto;
    font-size: 20px;
}

.iglesia { 
    width: 95%; 
    height: 450px; 
}

.btn-elegante { 
    display: inline-block; 
    padding: 14px 18px; 
    background: linear-gradient(135deg, #87CEEB, #6fbad8); 
    color: white; 
    font-family: 'Playfair Display', serif; 
    font-size: 18px; 
    border-radius: 40px; 
    text-decoration: none; 
    font-weight: 600; 
    box-shadow: 0 8px 18px rgba(0,0,0,0.2); 
    transition: .3s ease; 
    margin-bottom: 10px;
}

.btn-elegante:hover { 
    transform: translateY(-3px); 
    box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}


/* ====================================================== */
/*              REPRODUCTOR DE MÚSICA                     */
/* ====================================================== */
#musicPlayer {
    position: fixed;
    width: 20px;
    height: 20px;
    bottom: 10%;
    left: 30%;
    background-color:#4774a5;
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 12px;
    z-index: 1000;
}

#musicBtn {
    font-size: 12px;
    border: none;
    padding: 2px 2px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

#musicBtn:hover {
    background: #4774a5;
}



/* ====================================================== */
/*          CONTENEDOR 4 (Dress Code)                     */
/* ====================================================== */
.cuartoContendor {
    max-width: 600px;
    height: 500px;
    padding: 10px;
    background-color: white;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

/* Textos */
.titulodress {
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    color: #808080;
    padding-top: 30px;
}

.titulod {
    margin-bottom: 50px;
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    color: #87CEEB;
}

.subtitulodress,
.informaciondress {
    font-size: 16px;
    color: #808080;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/* Imagen */
.imagendress {
    margin: auto;
    width: 150px;
    height: 150px;
}

.dresscode {
    width: 100%;
}




/* ====================================================== */
/*                    lluvia de sobres                         */
/* ====================================================== */


/* Textos */
.titulodress2 {
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    color: #808080;
    padding-top: -10px;
}

.titulod2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
    color: #87CEEB;
}

.subtitulodress2,
.informaciondress2 {
    margin: auto;
    max-width: 300px;
    font-size: 14px;
    color: #808080;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

/* Imagen */
.imagendress2 {
    margin: auto;
    width: 100px;
    height: 100px;
}

.dresscode2 {
    width: 100%;
}


/* ====================================================== */
/*                    ITINERARIO                          */
/* ====================================================== */



.itinerario-section {
    max-width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
    text-align: center;
    font-family: 'Playfair Display', serif;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    margin-bottom: 20px;
    background-color:#ffffff;
    border-radius: 15px;
}
.itinerario-section {
    position: relative;
    overflow: hidden;
    padding: 80px 20px;
}

/* IMAGEN DE FONDO */
.imagengrade2 {
    position: absolute;
    inset: 0;              /* top:0 right:0 bottom:0 left:0 */
    width: 100%;
    height: 100%;
    object-fit: contain;  /* muestra toda la imagen */
object-fit: fill;     /* la deforma (no recomendado) */    /* se comporta como background-size: cover */
    z-index: 0;
}

/* CONTENIDO ENCIMA */
.itinerario-section > *:not(.imagengrade2) {
    position: relative;
    z-index: 2;
}


.titulo-itinerario {
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    color: #808080;
    padding-top: 30px;
}

.subtitulo-itinerario {
    margin-top: -10px;
    font-size: 14px;
    color: #5D9CCF;
}

/* Línea de tiempo */
.linea-tiempo {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    padding-left: 10px;
    position: relative;
}


.item-tiempo {
    width: 300px;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    position: relative;
}

.item-tiempo::before {
    content: "";
    position: absolute;
    left: 60px;
    width: 18px;
    height: 18px;
    background: #5D9CCF;
    border-radius: 50%;
}

.icono-tiempo {
    width: 60px;
    margin-right: 10px;
    opacity: 0.9;
}

.contenido-tiempo h3 {
    font-size: 18px;
    color: #5D9CCF;
}

.contenido-tiempo p {
    font-size: 22px;
    color: #5D9CCF;
}



.sextoContendor {
    max-width: 600px;
    height: 400px;
    padding: 10px;
    background-color: white;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Textos */
.tituloconfirmacion {
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
    color: #808080;
    padding-top: 30px;
}



.tituloc {
    margin-bottom: 20px;
    font-family: 'Great Vibes', cursive;
    font-size: 20px;
    color: #87CEEB;
}

.subtituloconfirmacion,
.informacionconfirmacion {
    font-size: 12px;
    color: #808080;
    
}


.botones-asistencia {
    text-align: center;
    margin-top: 20px;
}

.botones-asistencia button {
    padding: 12px 20px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: #87CEEB;
    color: white;
    transition: 0.3s;
}

.botones-asistencia button:hover {
    background-color: #5D9CCF;
}

/* FORMULARIO OCCUPANDO EL CONTENEDOR */
#formOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 420px;
    border-radius: 40px;
    background: rgba(0,0,0,0.55);
    display: none;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.4s;
    z-index: 9999;
}

#formContainer {
    background: white;
    width: 90%;
    max-width: 400px;
    border-radius: 15px;
    padding: 25px;
    position: relative;
    animation: slideUp 0.45s ease-out;
}

#formContainer h2 {
    text-align: center;
}

#formContainer input,
#formContainer textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

#enviarForm {
    width: 100%;
    padding: 12px;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#cerrarForm {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

#formRechazoOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 420px;
    border-radius: 40px;
    background: rgba(0,0,0,0.55);
    display: none;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.4s;
    z-index: 9999;
}

#formRechazoContainer {
    background: white;
    width: 90%;
    max-width: 400px;
    border-radius: 15px;
    padding: 25px;
    position: relative;
    animation: slideUp 0.45s ease-out;
}

#formRechazoContainer input,
#formRechazoContainer textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

#enviarRechazo {
    width: 100%;
    padding: 12px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.cerrarForm {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

/* ANIMACIONES */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from { transform: translateY(50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}


.octavoContendor {
    max-width: 600px;
    height: 700px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    margin: auto;
    text-align: center;
    font-family: 'Playfair Display', serif;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    margin-bottom: 10px;
    


}


/* --- Título --- */
.titulo-fotos {
font-family: 'Great Vibes', cursive;
    text-align: center;
    font-family: "Playfair Display", serif;
    color:#5D9CCF;
    font-size: 28px;
    margin-bottom: 15px;
    margin-top: 30px;
    text-shadow: 0 0 5px rgba(212, 164, 95, 0.45);
}


.container{
    position: absolute;
    margin-top: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 600px;
    background: #f5f5f5;
}

.container .slide .item{
    width: 100px;
    height: 200px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
    
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}


.slide .item:nth-child(3){
    left: 75%;
}
.slide .item:nth-child(4){
    left: calc(30% + 220px);
}
.slide .item:nth-child(5){
    left: calc(10% + 320px);
}


/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6){
    left: calc(50% + 320px);
    opacity: 0;
}



.item .content{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}


.slide .item:nth-child(2) .content{
    display: block;
}


.content .name{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}


@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}



.button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.button button:hover{
    background: #ababab;
    color: #fff;
}

/* ====================================================== */
/*              ANIMACIONES DE SCROLL                     */
/* ====================================================== */

/* Estado inicial */
.scroll-anim {
    opacity: 0;
    transform: translateY(30px);
    transition: all .9s ease;
}

.scroll-anim.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Fade + Slide */
@keyframes fadeUp {
    0% { opacity: 0; transform: translateY(25px); }
    100% { opacity: 1; transform: translateY(0); }
}

/* Zoom suave */
@keyframes fadeZoom {
    0% { opacity: 0; transform: scale(0.92); }
    100% { opacity: 1; transform: scale(1); }
}

/* Glow */
@keyframes glowSoft {
    0% { filter: drop-shadow(0 0 0px rgba(255,255,255,0)); }
    50% { filter: drop-shadow(0 0 8px rgba(255,255,255,0.6)); }
    100% { filter: drop-shadow(0 0 0px rgba(255,255,255,0)); }
}

.animate-fadeUp { animation: fadeUp 0.9s ease-out forwards; }
.animate-fadeZoom { animation: fadeZoom 1s ease-out forwards; }
.animate-glow { animation: glowSoft 3.5s ease-in-out infinite; }


/* Otros efectos */
@keyframes softScale {
    0% { opacity: 0; transform: scale(0.85); }
    100% { opacity: 1; transform: scale(1); }
}

@keyframes gentleRotate {
    0% { transform: rotate(-3deg) scale(0.9); opacity: 0; }
    100% { transform: rotate(0deg) scale(1); opacity: 1; }
}


@keyframes aparecer {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}





